{% extends "base.html" %}

{% block title %}Website Home Page{% endblock %}

{% block navbarLogo %}
<a class="navbar-brand">
<!-- I have used inheritence for this anchor element as the href will be different depending on the page -->
<!-- I have removed the " href="" " from this anchor tag as I do not wish for clicking the button to take the user to a different webpage-->
{% endblock %}

{% block pageName %}
Welcome to (brand name)
{% endblock %}

{% block navButtons %}
<li class="nav-item me-auto">
<!-- "me-auto" to space the buttons evenly within the navbar (pushing them to the right) -->
    <a class="btn btn-primary me-2" href="/melody_builder" role="button">Continue as guest</a>
<!-- "me-2" adds a margin of 8 pixels to the right side of the button -->
</li>
<li class="nav-item me-auto">
    <a class="btn btn-primary me-2" href="/sign-up" role="button">Sign-up</a>
</li>
<li class="nav-item me-auto">
    <a class="btn btn-primary me-2" href="/log-in" role="button">Log-in</a>
</li>
{% endblock %}

{% block bodyContent %}
<div class="container">
    <div class="row row-cols-3 g-3 p-4 align-items-center" style="height: 90vh;">
    <!-- I have adjusted the height value from 100vh to 90vh,
    this is because at 100vh, the page becomes verticaly heigher than the web browser window,
    this is because this gives it the value of the entire screen's height,
    so when the navbar is added onto that height, the screen becomes too vertically tall,
    and this results in a scroll bar appearing at the right side of the screen. -->
    <!-- "g-3" adds a gap between each column -->
    <!-- "align-items-centre" vertically centres the items (the boxes/containers) in each column -->
        <div class="col" style="height: 80%;">
            <div class="border bg-light d-flex align-items-center justify-content-center" style="height: 100%;">
            <!-- d-flex is a Bootstrap utility class to apply the CSS "display: flex;" properties to the element -->
            <!-- align-items-center vertically centers the flex items (the child elements) of the element  -->
            <!-- justify-content-center horizontaly centers the flex items (the child elements) of the element -->
                <img src="#" alt="Melody Builder" width="100%" height="100%">
                <!-- I will add a screenshot of the melody builder once I have finished its development -->
            </div>
        </div>
        <div class="col" style="height: 80%;">
            <div class="border bg-light d-flex align-items-center justify-content-center" style="height: 100%;">
                <img src="#" alt="Logo" width="100%" height="100%">
                <!-- This image element will be used to display the logo -->
            </div>
        </div>
        <div class="col" style="height: 80%;">
            <div class="border bg-light d-flex align-items-center justify-content-center text-center" style="height: 100%;">Temp text</div>
            <!-- text-center centers text, even if it spans multiple lines -->
        </div>
    </div>
</div>
{% endblock %}





